repo="DNAseq-VC-nf"

executor {
    name   = 'local'
    cpus   = 60
    memory = '256GB'
    queueSize = 15
}

params {
   input="$PWD/input"
   output="$PWD/output"
   work="$PWD/work"
   aux="$PWD/${repo}/auxillary"

   huge=30
   big=10
   small=5
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
