repo="DNAseq-VC-nf"

executor {
    name   = 'local'
    cpus   = 40
    memory = '256GB'
    queueSize = 15
}

params {
   input="$PWD/input"
   output="$PWD/output"
   work="$PWD/work"
   genome="$PWD/genome"
   aux="$PWD/${repo}/auxillary"

   huge=40
   big=20
   small=6
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
